body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10%;
    max-width: 100%;
}

.profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 100%; /* Make sure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.profileText {
    color: #F0F5F9;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
}

.footerText {
    color: #F0F5F9;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.invite {
    color: #C9D6DF;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.links {
    text-align: center;
    margin: 20px auto;
    border: 1px solid #f0f5f9;
    border-width: 2px;
    max-width: 100%; /* Ensure links are not wider than the screen */
    display: block;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 20px; /* Adjust padding for mobile devices */
}

a {
    text-decoration: none;
    color: #F0F5F9;
    transition: color 1s;
}

a:hover {
    color: black;
    background-color: #C9D6DF;
}

/* Media query for screens smaller than 500px */
@media screen and (max-width: 500px) {
    .container {
        padding: 10px; /* Adjust container padding for smaller screens */
    }

    .profileImage {
        margin-top: 5%;
    }

    .profileText,
    .footerText,
    .invite {
        font-size: 16px;
    }

    .links {
        font-size: 16px;
        padding: 5px 10px; /* Adjust padding for smaller screens */
    }
}
